# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt

# Node
node_modules/
npm-debug.log
yarn-error.log

# Project Specific
app/backend/src/assets/
app/backend/src/assets/user_file.pdf
app/backend/src/assets/user_file.tex
app/backend/src/assets/user_file.aux
app/backend/src/assets/user_file.log
app/backend/src/assets/link_cache.txt
app/backend/src/assets/template_preference.txt
app/backend/src/.env

# OS
.DS_Store
Thumbs.db
