services:
  backend:
      build:
        context: .
        dockerfile: Dockerfile.backend
      ports:
        - "8000:8000"
      working_dir: /app/src
      volumes:
        - ./app/backend:/app
      command: ["uvicorn", "main:app", "--host", "0.0.0.0", "--port", "8000", "--reload"]
      env_file:
        - ./app/backend/src/.env

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    ports:
      - "5173:5173"
    working_dir: /app
    volumes:
      - ./app/frontend:/app
      - /app/node_modules
    command: ["npm", "run", "dev", "--", "--host"]
